<footer>
    <div class="f-info">
        <div class="f-info-brand">&copy;Wanderlust Private Limited</div>
        
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-links">
            <a class="me-2" target="_blank" href="">Privacy</a>
            <a class="me-2" target="_blank" href="">Terms & Conditions</a>
            <a class="me-2" target="_blank" href="https://github.com/prnjxl/wander-lust/blob/master/markdown/privacy.md">Support</a>
        </div>
    </div>
</footer>