<% layout("layouts/boilerplate") %>

<div class="row">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3">
    <br>
    <h4 class="title">Create New Listings</h4>
    <form class="needs-validation" method="POST" action="/listings" novalidate enctype="multipart/form-data"> <!-- enctype used to send files -->

        <div class="mb-3">
            <label for="title" class="form-lable">Title</label>
            <input class="form-control" type="text" placeholder="Add a catchy title" name="listing[title]" required>
            <div class="valid-feedback">Title looks good!</div>
            <div class="invalid-feedback">This field can't be empty</div>
        </div>
        

        <div class="mb-3">
            <label for="description" class="form-lable">Description</label>
            <textarea class="form-control" name="listing[description]" required></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-lable">Upload Image</label>
            <input class="form-control" type="file" name="listing[image]" required>
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-lable">Price</label>
                <input placeholder="1200" class="form-control" name="listing[price]" required>
                <div class="invalid-feedback">Price should be valid</div>
            </div>

            <div class="mb-3 col-md-8">
                <label for="country" class="form-lable">Country</label>
                <input class="form-control" type="text" placeholder="India" name="listing[country]" required>
                <div class="invalid-feedback">Country name should be valid</div>
            </div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-lable">Location</label>
            <input class="form-control" type="text" placeholder="Prayagraj, Uttar Pradesh" name="listing[location]" required>
            <div class="invalid-feedback">Location should be valid</div>
        </div>

        <button class="btn btn-dark add-btn">Add</button>
        <br><br>
    </form>
    </div>
</div>
